In [1]:
import csv
import gzip
import os
import scipy.io
import pandas as pd
import numpy as np

In [2]:
cluster_dir = "../data_processed/clustering/kmeans_{}_clusters/clusters.csv"
spatial_dir = "../data_processed/spatial_500.csv"

In [3]:
df_spatial = pd.read_csv(spatial_dir)

In [4]:
for i in range(2,11):
    df_cluster = pd.read_csv(cluster_dir.format(i))
    df_cluster = df_cluster.rename(columns={'Barcode': 'barcode', 'Cluster': 'cluster_{}'.format(str(i))})
    df_spatial = df_spatial.merge(df_cluster, how='inner', on='barcode')

In [5]:
df_spatial

,barcode,AC090692.3,AC090692.1,LDLRAD3,AL136146.2,COMMD9,PRR5L,AC087277.1,AC087277.2,AC009656.1,...,col,cluster_2,cluster_3,cluster_4,cluster_5,cluster_6,cluster_7,cluster_8,cluster_9,cluster_10
0,AAACAAGTATCTCCCA-1,0,0,1,0,1,0,0,0,0,...,51,2,2,2,2,5,7,8,8,9
1,AAACACCAATAACTGC-1,0,0,0,0,3,0,0,0,0,...,10,1,3,3,4,3,4,4,4,4
2,AAACAGAGCGACTCCT-1,0,0,0,0,0,0,0,0,0,...,47,2,2,4,3,4,5,7,7,7
3,AAACAGGGTCTATATT-1,0,0,1,0,2,0,0,0,0,...,7,2,2,2,2,5,7,8,8,9
4,AAACAGTGTTCCTGGG-1,0,0,2,0,2,1,0,0,0,...,22,1,3,3,4,3,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,TTGTTGTGTGTCAAGA-1,0,0,2,0,2,0,0,0,0,...,39,1,1,1,1,1,1,1,1,1
3794,TTGTTTCACATCCAGG-1,0,0,0,0,1,0,0,0,0,...,21,1,3,3,4,3,4,3,3,3
3795,TTGTTTCATTAGTCTA-1,0,0,1,0,2,0,0,0,0,...,15,1,3,3,4,3,4,4,4,4
3796,TTGTTTCCATACAACT-1,0,0,0,0,1,0,0,0,0,...,14,2,2,2,2,5,7,3,3,3
3797,TTGTTTGTGTAAATTC-1,0,0,0,0,1,0,0,0,0,...,26,1,1,1,1,1,2,2,2,2

In [6]:
df_spatial.to_csv("../data_processed/spatial_cluster.csv", index=False)